--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}

        <div class="page_content">
            <h1 class="title">Brady Folster</h1>
            <p class="body_text">Hi! I'm Brady Folster, an Information Technology and Web Science student at Rensselaer Polytechnic Institute.
                I'm interested in anything to do in the Information Technology field, but specifically with the end goal of being a Product Manager!
            </p>
        </div>
        {% include footer.html %}

</body>