--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product-thinking.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}
        <div class="page_content">
            <h1 class="title">Product Thinking</h1>
            <div class="projectbody">
                <div class="projectbox">
                    <a href="/product-thinking/case-studies" class="h2_link">Case Studies</a>
                    <div class="productcontainer">
                        <div class="productflex">
                            <a href="/product-thinking/case-studies/case-1/" class="inbodylink">Method Advanced Logistics</a>
                            <a href="/product-thinking/case-studies/case-2/" class="inbodylink">Google & Project Nimbus</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="projectbox">
                    <h2>Redesigns</h2>
                </div> -->
                <div class="projectbox">
                    <h2>My Product Process</h2>
                    <div class="productcontainer">
                        <div class="productflex">
                            <h3>1. Understand the Problem</h3>
                            <p>Research Users, constraints, jobs-to-be-done</p>
                        </div>
                        <div class="productflex">
                            <h3>2. Define Requirements</h3>
                            <p>Clarify success criteria and metrics</p>
                        </div>
                        <div class="productflex">
                            <h3>3. Explore Solutions</h3>
                            <p>Sketch, brainstorm, evaluate tradeoffs</p>
                        </div>
                        <div class="productflex">
                            <h3>4. Validate</h3>
                            <p>User interviews, usability testing, prototyping</p>
                        </div>
                        <div class="productflex">
                            <h3>5. Deliver & Measure</h3>
                            <p>Collaboration with other departments, focus on metrics for success</p>
                        </div>
                    </div>
                </div>
                <div class="projectbox">
                    <h2>Tools & Frameworks I Use</h2>
                    <div class="productcontainer">
                        <div class="productflex">
                            <h3>Product Frameworks</h3>
                            <p>
                                User Story Mapping<br>
                                Feature/Impact Matric<br>
                                5 Whys Analysis
                            </p>
                        </div>
                        <div class="productflex">
                            <h3>Research Methods</h3>
                            <p>
                                User Interviews<br>
                                Surveys<br>
                                Usability Testing<br>
                                Competetive Analysis
                            </p>
                        </div>
                        <div class="productflex">
                            <h3>Technical Tools</h3>
                            <p>
                                HTML, CSS, JS<br>
                                Git/GitHub<br>
                                Basic Python & Data Analysis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="projectbox">
                    <h2>User Research Examples</h2>
                    <div class="productcontainer">
                        <div class="productflex">
                            <p>Interviewed RPI students about course registration. Found that most struggle with section description visability on RPI's website. → Opportunity to improve filtering</p>
                        </div>
                    </div>

                </div>
                <div class="projectbox">
                    <h2>Metrics I Care About</h2>
                    <div class="productcontainer">
                        <div class="productflex">
                            <p>
                                Activation Rate<br>
                                Retention<br>
                                Task Completion Rate<br>
                                Time-to-Value
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="projectbox">
                    <h2>Product Thoughts</h2>
                </div> -->
            </div>
        </div>
    </div>
    {% include footer.html %}

</body>