--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product-thinking.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}
        <div class="page_content">
            <h1 class="title">Product Thinking</h1>
            <div class="projectbody">
                <div class="projectbox productbox">
                    <h2>Case Studies</h2>
                </div>
                <div class="projectbox productbox">
                    <h2>Redesigns</h2>
                </div>
                <div class="projectbox productbox">
                    <h2>My Product Process</h2>
                </div>
                <div class="projectbox productbox">
                    <h2>Tools & Frameworks I Use</h2>
                    <div class="productflex">
                        <h3>Product Frameworks</h3>
                        <p>
                            User Story Mapping<br>
                            Feature/Impact Matric<br>
                            5 Whys Analysis
                        </p>
                    </div>
                    <div class="productflex">
                        <h3>Research Methods</h3>
                        <p>
                            User Interviews<br>
                            Surveys<br>
                            Usability Testing<br>
                            Competetive Analysis
                        </p>
                    </div>
                </div>
                <div class="projectbox productbox">
                    <h2>User Research Examples</h2>
                </div>
                <div class="projectbox productbox">
                    <h2>Metrics I Care About</h2>
                </div>
                <div class="projectbox productbox">
                    <h2>Product Thoughts</h2>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}

</body>