--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product-thinking.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}
        <div class="page_content">
            <h1 class="title">Case Studies</h1>
            <div class="projectbody">
                <div class="projectbox">
                    <a href="/product-thinking/case-studies/case-1/" class="inbodylink">Method Advanced Logistics</a>
                    <a href="/product-thinking/case-studies/case-2/" class="inbodylink">Google & Project Nimbus</a>
                </div>
                
            </div>
        </div>
    </div>
    {% include footer.html %}

</body>