--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}

        <div class="page_content">
            <h1 class="title">Contact</h1>
            <p class="body_text">I'm open to IT internships and collaborations.</p>
            <nav>
                <a href="mailto:bradyf2006@gmail.com" class="bodylink">Email</a>
                <a href="https://www.linkedin.com/in/brady-folster-b95347393/" target="_blank" class="bodylink">LinkedIn</a>
                <a href="https://github.com/BradyFolster" target="_blank" class="bodylink">Github</a>

            </nav>
    </div>
    {% include footer.html %}

</body>