<footer class="site_footer">
    <footer class="site_footer">
  <div class="footer_content">
    <p>© 2025 Brady Folster</p>

    <div class="footer_links">
      <a href="/about" class="footer_link">About</a>
      <a href="/projects" class="footer_link">Projects</a>
      <a href="/skills" class="footer_link">Skills</a>
      <a href="/productthinking" class="footer_link">Product Thinking</a>
      <a href="/resume" class="footer_link">Resume</a>
      <a href="/contact" class="footer_link">Contact</a>
    </div>
  </div>
</footer>
</footer>