<div class="hero-header">
<svg
    class="hero-wave"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <defs>
    <linearGradient id="topWaveGradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="#d7eadc" />
        <stop offset="100%" stop-color="#9cc5a1" />
    </linearGradient>
    </defs>

    <!-- basic wave path -->
    <path
    fill="url(#topWaveGradient)"
    d="M0,224L80,213.3C160,203,320,181,480,176C640,171,800,181,960,186.7C1120,192,1280,192,1360,192L1440,192L1440,0L0,0Z"
    />
</svg>

    <header class="site_header">
        <nav class="nav">
            <a href="/" class="nav_logo">test</a>
            <a href="/about" class="nav_link">About Me</a>
            <a href="/projects" class="nav_link">Projects</a>
            <a href="/resume" class="nav_link">Resume</a>
            <a href="/contact" class="nav_link">Contact</a>
        </nav>
    </header>
</div>


