--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}

        <div class="page_content">
            <h1 class="title">Skills</h1>
            <div id="skillsbody">
                <div class="skillscol">
                    <h2>Technical Skills</h2>
                    <ul>
                        <li>Languages</li>
                            <ul>
                                <li>Python</li>
                                <li>Javascript</li>
                                <li>SQL</li>
                            </ul>
                        <li>Web</li>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                            </ul>
                        <li>Development</li>
                            <ul>
                                <li>Git</li>
                                <li>Github</li>
                            </ul>
                    </ul>
                </div>
                <div class="skillscol">
                    <h2>IT Skills</h2>
                    <ul>
                        <li>Troubleshooting</li>
                        <li>Technical Support</li>
                        <li>Networking Fundamentals</li>
                        <li>Information Systems</li>
                    </ul>
                </div>
                <div class="skillscol">
                    <h2>Product & UX Skills</h2>
                    <ul>
                        <li>User Research</li>
                        <li>Wireframing</li>
                        <li>Prototyping</li>
                        <li>UX Principles</li>
                    </ul>
                </div>
                <div class="skillscol">
                    <h2>Tools & Technologies</h2>
                    <ul>
                        <li>VS Code</li>
                        <li>Command Line</li>
                        <li>AI Prompting</li>
                    </ul>
                </div>
                <div class="skillscol">
                    <h2>Soft Skills</h2>
                    <ul>
                        <li>Leadership</li>
                        <li>Communication</li>
                        <li>Problem Solving</li>
                        <li>Team Collaboration</li>
                    </ul>
                </div>
                <div class="skillscol">
                    <h2>Currently Learning</h2>
                    <ul>
                        <li>C++</li>
                        <li>Digital Management</li>
                    </ul>
                </div>
            </div>

    </div>
    {% include footer.html %}

</body>