.productbox h3 {
    font-weight:lighter;
    margin-bottom:0;
    text-decoration: solid;
}
.productbox p   {
    margin-top:0;
}
.productbox {
    display:flex;
    gap:20px;
}
.productflex    {
    flex:1;
}