.productcontainer h3 {
    font-weight:lighter;
    margin-bottom:0;
    border-bottom:1px solid black;
}
.productcontainer p   {
    margin-top:0;
}
.productcontainer {
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    align-items:center;
}
.productflex    {
    flex:0 0 calc(50% - 20px);
}
/* TEST */