.productcontainer h3 {
    font-weight:lighter;
    margin-bottom:0;
    border-bottom:1px solid black;
}
.projectbox h2  {
    font-weight:600;
}
.productcontainer p   {
    margin-top:0;
}
.productcontainer {
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content: center;
}
.productflex    {
    flex:0 0 calc(50% - 20px);
    padding: 0 20px;
}
/* TEST */