.productcontainer h3 {
    font-weight:lighter;
    margin-bottom:0;
    text-decoration: underline;
}
.productcontainer p   {
    margin-top:0;
}
.productcontainer {
    display:flex;
    gap:20px;
}
.productflex    {
    flex:1;
}