.productcontainer h3 {
    font-weight:lighter;
    margin-bottom:0;
}
.projectbox h2  {
    font-weight:600;
}
.projectbox {
    padding: 20px;
}
.productcontainer p   {
    margin-top:0;
}
.productcontainer {
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content: center;
}
.productflex    {
    flex:0 0 calc(50% - 20px);
    padding: 0 20px;
}
.h2_link    {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:600;
    color: black;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    transition:
        color 0.2s ease,
        border-bottom-color 0.2s ease;
}
.h2_link:hover  {
    border-bottom-color: rgb(156, 197, 161);
    color: rgb(46, 46, 46);
}