/* Styling for the top menu bar */
.site_header    {
    height:fit-content;
    width:100%;
}
.nav_logo    {
    background-image: url('/assets/img/favicon.png');
    background-color:red;
    height:20px;
    width:20px;
}