--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/assets/js/projects-specific.js"></script>
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}

        <div class="page_content">
            <div id="project-detail" class="project-detail"></div>

            <div class="project-detail-manual">
                <p class="body_text">
                    Add project description text here.
                </p>
            </div>
        </div>
        {% include footer.html %}
    </div>
</body>