--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product-thinking.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}
        <div class="page_content">
            <h1 class="title">Case Study<br>Google & Project Nimbus</h1>
            <div class="projectbody">
                <div class="projectbox">
                    <h2>The Senario</h2>
                    <p>
                        Google made a ~$1.2 billion cloud-computing deal with the Israeli government in 2021, aiming 
                        to provide them with an "all-encompassing cloud solution". However, this took place during the 
                        Israeli-Palestinian conflict, sparking controversey in the media and Google itself. Google had 
                        50 employees protest the deal due to human rigts concerns, with some disrupting the company's 
                        day-to-day operations and efficiency. Google responded by firing all 50 employees immediately.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>The Problem</h2>
                    <p>
                        What decisions could have been made differently at Google to maintain both their 
                        reputation and revenue?
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Options Considered</h2>
                    <p>
                        Stay in the deal (best financially)<br>
                        Renegotiate the deal (better for revenue and media-response)
                        Back out of the deal entirely (lose out on the revenue, but help reputation)
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Decision & Rationale</h2>
                    <p>
                        While Google had every right to fire all 50 employees, their immediate termination made Google 
                        seem harsh and uncaring for their employees, especially given their reputation as an "open" company 
                        that welcomes criticism from its employees. Since they already fired their employees, renegotiating 
                        the deal to ensure no cloud-computing would be used for anything relating to the violation of human 
                        rights. It would allow Google to save face while still getting the revenue from the deal. Both staying 
                        in the deal and backing out of it are extreme cases that hurt Google in opposite ways; staying in ruins 
                        its reuputation of being an honest, open company, while backing out makes other large deals harder to make 
                        as Google will now have a reputation for backing out of nearly-completed deals.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Expected Impact</h2>
                    <p>
                        Short-term, Google will face criticism for their termination of 50 employees who protested them. 
                        Long-term, Google will be known as a company that values revenue over employees, staining their reputation 
                        with the controversey.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Reflection</h2>
                    <p>
                        As this case was more about ethics, it was interetsing to see how business deals can have huge impacts 
                        on a company's employees as well as its media-response. 
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    {% include footer.html %}

</body>