--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product-thinking.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}
        <div class="page_content">
            <h1 class="title">Case Study<br>Method Advanced Logistics</h1>
            <div class="projectbody">
                <div class="projectbox">
                    <h2>The Senario</h2>
                    <p>
                        Method Advanced Logistics (Method), a delivery company, was dealing with missing/incorrect information from their Software as a Service (SaaS). The SaaS was taking too long to process new information as well as take in new fields of input.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>The Problem</h2>
                    <p>
                        How do we fix the wrong/missing information going to our clients? What solution will have the least impact on our customer service?
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Options Considered</h2>
                    <p>
                        Method develops their own SaaS<br>
                        Find a new SaaS<br>
                        Develop a hybrid layer - Best Option
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Decision & Rationale</h2>
                    <p>
                        A Hybrid Layer would allow for Method to be able to directly receive delivery information 
                        from customers, assign it to the correct field in their SaaS, then have it sent automatically 
                        until the customer decides to change their data formats. Method would have the greatest 
                        efficiency with this Hybrid Layer, as they would have near-immediate value form their 
                        data models. The other options (switching SaaS or developing their own) have the potential 
                        to have the same issues as their previous one. By switching their SaaS, Method is still entirely 
                        reliant on a third-party company with their data. Developing their own SaaS, however, makes no fiscal 
                        sense, as the development and maintenence of a whole SaaS is not feasible. Due to this, the Hybrid Layer 
                        option makes the most sense. As Method is well-known as a reliable, customer-oriented company, having the 
                        shortest downtime and best results will be key for them moving forward.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Expected Impact</h2>
                    <p>Method was given 3 options for their Hybrid Layer SaaS: Option A, a quick timeline 
                        but double the cost of the other two. Option B, which was only longer by two weeks, was half the cost 
                        of Option A. Option C, the same length of Option B, cost ~20% more than Option B and had no other benefits. 
                        Due to the size of Method as a company and their goals moving forward, Option B is the best option for them. 
                        It is the cheapest, but with a difference in downtime of only two weeks, Method is far better off going with 
                        Option B.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Reflection</h2>
                    <p>
                        This case study is a good exercise in making Information Technology decisions as if I were in charge. 
                        Throughout the case, I learned more about how companies have to make large, impactful decisions on the fly 
                        while they run into issues. Decisions could also have been easier to make with more information (finances, etc.).
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    {% include footer.html %}

</body>