--- 
layout: null
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/bradyfolster-website/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product-thinking.css">
</head>
<body>
    <div class="page_wrapper">
        {% include header.html %}
        <div class="page_content">
            <h1 class="title">Case Study<br>Method Advanced Logistics</h1>
            <div class="projectbody">
                <div class="projectbox">
                    <h2>The Senario</h2>
                    <p>
                        Method Advanced Logistics (Method), a delivery company, was dealing with delays and inaccuracies in the data 
                        flowing through their third-party Software as a Service (SaaS) platform. The SaaS struggled to proccess 
                        changes in data formats and could not easily accomodate new input field, creating operational inefficiencies.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>The Problem</h2>
                    <p>
                        How can Method ensure accurate, up-to-date delivery information for clients while minimizing 
                        operational disruption and customers from facing downtime?
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Options Considered</h2>
                    <p>
                        Develop a fully custom SaaS (high control, high cost, long timeline)<br>
                        Switch to a different third-party SaaS provider (moderate cost, risk of similar limitations)<br>
                        Develop a hybrid integration layer (low cost, fastest implementation)
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Decision & Rationale</h2>
                    <p>
                        Method should implement a Hybrid Layer that intercepts incoming delivery data, validates and formats 
                        it, then passes it into the existing SaaS.<br><br>This approach provides immediate value because it 
                        eleminates errors without requiring customers to change their data formats. It also avoids the high cost 
                        and long timeline of building a custom SaaS and reduces the risk of switching to another SaaS.
                        <br><br>Operationally, the Hybrid Layer offers the highest return on investment; it minimizes downtime, 
                        reduces dependency on external companies, and preserves Method's existing workflows.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Expected Impact</h2>
                    <p>Method was given 3 options for their Hybrid Layer SaaS: Option A, a quick timeline 
                        but double the cost of the other two. Option B, which was only longer by two weeks, was half the cost 
                        of Option A. Option C, the same length of Option B, cost ~20% more than Option B and had no other benefits. 
                        <br><br>Due to the size of Method as a company and their goals moving forward, Option B is the best option for them. 
                        It is the cheapest, but with a difference in downtime of only two weeks, Method is far better off going with 
                        Option B.
                    </p>
                </div>
                <div class="projectbox">
                    <h2>Reflection</h2>
                    <p>
                        This case study is a good exercise in making Information Technology decisions as if I were in charge. 
                        Throughout the case, I learned more about how companies have to make large, impactful decisions on the fly 
                        while they run into issues. Decisions could also have been easier to make with more information (finances, etc.).
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    {% include footer.html %}

</body>